* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

body,
html,
#root {
	height: 100%;
	background-color: #E0E0E0;
}

body {
	color: #f5f5f5;
	font-size: 16px;
}

#root {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
  justify-content: center;
  background-color: #424242;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex: 1;
	gap: 30px;
  padding: 20px;
}

.footer {
	height: 40px;
	flex-shrink: 0;
	background-color: #424242;
}

.card {
	height: clamp(350px, 350px, 400px);
	width: clamp(200px, 250px, 300px);
	background-color: #757575;
	color: black;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	transition: 0.2s;
}


.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transform: scale(1.01);
	transition: 0.2s;
}

.card > div {
  flex: 1;
}

.score-container > h2 {
	margin: 5px;
}